{% extends 'base.html' %}
{% load static %}

{% block title %}
Home page
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <h2 align="center">Fake news classification</h2>
    <form action="{% url 'result' %}">
      {% csrf_token %}
      <div class="form-group">
        <div align="center">
          <input type="radio" class="btn-check" name="model_select" id="option1" value="simple_model" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="option1">Simple (Text-Only) Algorithm</label>

          <input type="radio" class="btn-check" name="model_select" id="option2" value="complex_model" autocomplete="off">
          <label class="btn btn-outline-primary" for="option2">Feature-Rich Algorithm</label>
        </div>
        <p>Source text:</p>
        <textarea class="form-control" type="text" name="src_text" placeholder="Paste the text of the Tweet here!"></textarea>
        <br>

        <button class="btn btn-primary form-control" type="submit" value='Make Prediction'>Predict!</button>
      </div>
    </form>
  </div>
  <div class="col-sm-4"></div>
</div> 
{% endblock %}